TICKTICK_AUTH_URL=https://dida365.com/oauth/authorize
TICKTICK_TOKEN_URL=https://dida365.com/oauth/token
TICKTICK_API_BASE_URL=https://api.dida365.com

TICKTICK_CLIENT_ID=
TICKTICK_CLIENT_SECRET=

# By default, the authentication port is on 11365
TICKTICK_PORT=11365
# When using .env file, MCP default you are not using DOCKER. 
# However, you can still mount the .env file or use -e command in the mcp configuration if you are using docker to deploy the server, and turn this to True
TICKTICK_DOCKER_SERVER=False

# By default, MCP will be allowed to READ and WRITE your project / tasks.
TICKTICK_SCOPE="tasks:read tasks:write"